.not_found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.not_found h2 { font-size: 4rem; text-transform: uppercase; }

.not_found h2 span,
.not_found h2 i { color: var(--main-color);  }

.not_found h2 i { margin-right: 15px;}

@media (max-width: 991px) {
    .not_found h2 { font-size: 3rem;}
}

@media (max-width: 767px) {
    .not_found h2 { font-size: 2rem;}
}